.order-online-steps-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-online-heading {
    font-size: 2.2em;
    text-align: center;
    margin: 30px 0;
}

.how-to-step {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    margin: 0 auto 50px;
    align-items: center;
}

.how-to-step .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    border: 3px solid #F47828;
    border-radius: 500px;
    width: 80px;
    height: 80px;
    position: relative;
    background: #fff;
}

.how-to-step:not(:last-of-type) .icon::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 55px;
    background: #F47828;
    z-index: -1;
}

.how-to-step .icon > img {
    width: 40px;
}

.how-to-description {
    flex: 1;
    margin-left: 20px;
}

.how-to-description .step-heading {
    font-weight: bold;
    font-size: 1.2em;
}

.how-to-description .step-description {
    font-size: 1.1em;
}

@media only screen and (min-width: 830px) {
    .order-online-steps-wrapper {
        flex-direction: row;
        justify-content: center;
        max-width: 980px;
        margin: 0 auto;
    }

    .order-online .how-to-step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .how-to-description {
        margin: 10px 0 0;
    }

    .how-to-step:not(:last-of-type) .icon::after {
        width: 150px;
        height: 5px;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
    }
}